/* Общая часть */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}


body {
    font-family: "Playfair Display", sans-serif;
    background-color: #f4f4f4;
}

/* Шапка */
.navbar {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    height: 60px;
    position: fixed;
    top: 0;
    left: 12px;
    right: 12px;
    z-index: 999;
    box-shadow: 5px 5px 8px 5px rgba(80, 34, 34, 0.2);
    transform: translateY(10px);
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover {
    color: #AA0000;
    text-decoration: none;
}

.signin img {
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
}

nav .icon {
    flex-grow: 1;
    text-align: center;
    align-self: flex-end;
    position: relative;
    left: 60px;
}

.icon img {
    width: 50px;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.social li {
    margin-right: 15px;
}

.social div {
    display: inline-block;
}

.social img {
    vertical-align: middle;
    margin-right: 5px;
    width: 25px;
}

/* Основной контент */
main {
    flex-grow: 1;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.container-main {
    display: grid;
    grid-auto-flow: row;
    gap: 60px;
    padding: 60px;
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 auto;
}

/* 1 фрейм основного контента */
.bgvideo {
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bgvideo video {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.effect {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.351);
}

.video-text {
    color: rgb(254, 254, 254);
    z-index: 2;
    vertical-align: top;
    font-size: 24px;
    background-color: #fdfdfdfe;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px -1px  #4e00004f;
    margin-top: 20px;
}

/* 2 фрейм основного контента */
.frame-two p {
    font-size: 24px;
}

/* 3 фрейм основного контента */
.frame-three {
    background-color: #4e00004f;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Количество колонок зависит от доступной ширины */
    gap: 40px; /* Промежутки между элементами */
    padding: 60px; /* Внешние отступы */
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px; /* Отступ между картинкой и подписью */
    border: 2px solid #000000;
}

.title {
    
    font-size: 20px;
    line-height: 1.5;
}


























/* 4 фрейм основного контента */
.ostavte-zayavku {
    font-size: 40px;
    display: grid;
    gap: 20px;
    justify-content: center;
}
.ostavte-zayavku button {
    background-color: #AA0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ostavte-zayavku button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Подвал */
footer {
    color: #ffffff;
    background-color: #AA0000;
}

.icon-container {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-container {
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.icon-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("png/white-icon-512x512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

.icon-container:hover::before {
    opacity: 0;
}

.icon-container:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("png/apple-touch-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #000000;
    transition-property: color;
    transition-duration: .3s;
}

.footer-elements-top-20px {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-auto-flow: column;
}