/* Общая часть */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}


body {
    font-family: "Playfair Display", sans-serif;
    background-color: #f4f4f4;
}

/* Шапка */
.navbar {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    height: 60px;
    position: fixed;
    top: 0;
    left: 12px;
    right: 12px;
    z-index: 999;
    box-shadow: 5px 5px 8px 5px rgba(80, 34, 34, 0.2);
    transform: translateY(10px);
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover {
    color: #AA0000;
    text-decoration: none;
}

.signin img {
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
}

nav .icon {
    flex-grow: 1;
    text-align: center;
    align-self: flex-end;
    position: relative;
    left: 60px;
}

.icon img {
    width: 50px;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.social li {
    margin-right: 15px;
}

.social div {
    display: inline-block;
}

.social img {
    vertical-align: middle;
    margin-right: 5px;
    width: 25px;
}

/* Основной контент */
main {
    flex-grow: 1;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}

.container-main {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    padding: 60px;
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 auto;
}

.frame-one,
.frame-three,
.ostavte-zayavku {
    background-color: #4e00004f;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-radius: 10px;
}

/* 1 фрейм основного контента */
.frame-one .text {
    position: relative;
    left: 0%;
    text-align: left;
    font-size: 46px;
}

.one,
.two {
    width: 50%;
    object-fit: cover;
    border: 2px solid #000000;
}

.images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* 2 фрейм основного контента */
.frame-two {
    display: flex;
    height: auto;
    background-color: #4e00004f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.image-back {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-back img {
    width: 100%;
    height: auto;
    display: block;
}

.frame-two img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text-container {
    position: relative;
    left: -10%;
    text-align: right;
    font-size: 46px;
    background-image: linear-gradient(to left, #300303, #B50101, #dd0707);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text-container p {
    text-shadow: 1px 1px #7e0000b9;
}

/* 3 фрейм основного контента */
.frame-three {
    display: flex;
    justify-content: space-between;
}

.frame-three img {
    height: 100%;
    width: 30%;
    object-fit: cover;
    border: 2px solid #000000;
}

/* 4 фрейм основного контента */
.ostavte-zayavku {
    font-size: 40px;
    display: grid;
    gap: 20px;
    justify-content: center;
}

.ostavte-zayavku button {
    background-color: #AA0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ostavte-zayavku button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Подвал */
footer {
    color: #ffffff;
    background-color: #AA0000;
}

.icon-container {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-container {
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.icon-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("png/white-icon-512x512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

.icon-container:hover::before {
    opacity: 0;
}

.icon-container:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("png/apple-touch-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #000000;
    transition-property: color;
    transition-duration: .3s;
}

.footer-elements-top-20px {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-auto-flow: column;
}

@media (max-width: 780px) {

    *:not(nav) {
        font-size: 12px;
    }

    .container-main {
        padding: 10px;
        justify-content: center;
    }

    .frame-three {
        display: flex;
        flex-direction: row;
    }

    .frame-one,
    .frame-three,
    .ostavte-zayavku {
        padding: 20px;
    }

    .footer-elements-top-20px {
        gap: 10px;
    }
}

/* Другое устройство */
@media (max-width: 412px) {
    *:not(nav) {
        font-size: 12px;
    }

    .container-main {
        padding: 5px;
        justify-content: center;
    }

    .frame-three {
        display: flex;
        flex-direction: row;
    }

    .frame-one,
    .frame-three,
    .ostavte-zayavku {
        padding: 10px;
    }

    .footer-elements-top-20px {
        gap: 10px;
    }
}
